/*
author: ailin
date: 2015-08-02
*/

/*        global        */
html,
body {
    height: 100%;
    width: 100%;
    min-width: 800px;
    overflow-y: hidden;
    overflow-x: auto;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul,
dl,
ol {
    list-style-type: none;
}

/*      custom          */
header {
    width: 100%;
    vertical-align: center;
    background-color: #567;
}

header h2 {
    line-height: 3em;
}

article #catergory_container {
    width: 280px;
    background-color: #678;
    margin-left: -100%;
}

article #task_container {
    width: 280px;
    background-color: #789;
    margin-left: -100%;
    position: relative;
    left: 280px;
}

article #task_detail {
    background-color: #89a;
    width: 100%;
    padding-left: 560px;
}

article {
    height: 100%;
    min-width: 800px;
    overflow: hidden;
}

.col {
    float: left;
    padding-bottom: 999px;
    margin-bottom: -999px; 
}
/*.col:after {
    content: "";
    clear: both;
    display: block;
    visibility: none;
}*/

#catergory_container {
    
}

#catergory_list {
}

.catergory {
    padding: 0.6em 0 0 1em;
    list-style: inside;
}

.catergory .sub-catergory {
    padding: 0.5em 0 0 1em;
    list-style: inside;
}

h4 {
    line-height: 2em;
}

#task_list_panel {
    position: relative;
}

#add_catergory, 
#add_task {
    position: fixed;
    bottom: 0;
    padding: 5px;
}

#task_list_header ul {
    padding: 10px;
}

#task_list_header ul li {
    display: inline-block;
    margin-right: 5px;
}

#task_list {
    padding-left: 2em;
}

.task-date-list {
    padding: 0.5em;
}

#task_list .task {
    margin: 0.3em 0 0.3em 1em;
}

.task-title {
    line-height: 2em;
}

.task-date {
    line-height: 2em;
}

.task-content {
    width: 100%;
    height: 800px;
    border: none;
    background-color: #567;
}

.chosen {
    background-color: #789;
}

.catergory {
    position: relative;
}

.catergory .removeCatergoryBtn {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.catergory *:hover .removeCatergoryBtn {
    display: inline-block;
}

.sub-chosen {
    background-color: #89a;
}

#task_header {
    height: 30px;
    vertical-align: center;
    border-bottom: 1px solid #000;
}

.task-tool {
    position: absolute;
    right: 20px;
    margin-top: -15px;
}

#task_date {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #000;
}

#task_edit_tool {
}

.unshown {
    display: none;
}

input,
textarea {
    background-color: #89a;
    border: none;
    color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
　　color:#999;
　　}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#999;
　　}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#999;
　　}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#999;
　　}