

/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}

body {
  min-width: 980px;
  font: 12px SimSun, sans-serif;
  background-color: #eee;
}

a,
dt {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: relative;
  height: 80px;
  background: rgba(48, 86, 41, .5);
}

.panel,
.container,
.wrap {
  margin: auto;
  position: relative;
  width: 980px;
}

.nav-panel {
  padding: 20px 0 5px 0;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
}

nav {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

nav a {
  display: inline-block;
  font-size: 14px;
  margin: 5px 0 5px 28px;
}

.nav-panel + a img {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 0;
}
.nav-panel > span {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  font-size: 25px;
  color: #fff;
}

@media screen and (max-width: 980px) {
  .nav-panel + a img {
    display: none;
  }
}

.banner {
  position: relative;
  height: 480px;
  background-image: url('../img/banner-bg.jpg');
  background-size: cover;
}

  .banner .panel {
    height: 100%;
  }

    .banner article {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px 10px 30px 10px;
      width: 400px;
      color: white;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, 0) 100%);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, 0) 100%);
    }
      .banner h2 {
        margin-bottom: 12px;
        font-size: 14px;
        text-align: right;
      }
      .banner p {
        line-height: 150%;
        text-indent: 2em;
      }

.container {
  margin-bottom: 150px;
  overflow: hidden;
}

/*.container:after {
  content: ',';
  clear: both;
  display: block;
  visibility: none;
  height: 0;
}*/

  .container > .post {
    float: left;
    margin: 10px 10px -10000px 0;
    padding-bottom: 10000px;
    width: 320px;
    background-color: #fff;
  }

  .container > .post:last-child {
    margin-right: 0;
  }
    .container > .post > article {
      text-align: center;
    }
      .container > .post  img {
        padding: 10px 0 0 0;
        width: 300px;
        height: 180px;
      }
      .container > .post p {
        padding: 15px 30px 25px 30px;
        line-height: 170%;
        text-indent: 2em;
        text-align: justify;
      }

.profile {
  position: relative;
  width: 100%;
  min-height: 420px;
  text-align: center;
  background: #fff;
}

  .profile img {
    display: inline-block;
    margin-top: -50px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  .profile h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font: 20px "Century Gothic" #000;
  }
  .profile p {
    margin: auto;
    width: 600px;
    font-size: 14px;
    text-indent: 2em;
    text-align: justify;
  }

footer {
  background-color: #000;
}

footer ul {
  text-align: center;
  border-bottom: 1px solid #333;
}

ul.footer-nav li {
  display: inline-block;
  margin: 0 10px 0 10px;
  line-height: 3em;
}

.footer-link:after {
  content: ",";
  clear: both;
  visibility: none;
  display: block;
}

footer dl {
  width: 196px;
  float: left;
}
  footer dl dt {
    padding: 20px 0 20px 0;
  }

  footer dl a:hover {
    text-decoration: underline;
  }

footer > .copy-right {
  display: block;
  margin-top: 100px;
  color: #fff;
  text-align: center;
}

  footer > .copy-right > img {
    display: block;
    padding-top: 10px;
    margin: auto;
  }

.wrap {
    margin-top: 20px;
  position: relative;
}
.wrap:after {
    content: ",";
    clear: both;
    display: block;
    visibility: none;
}

  .wrap > .article {
    float: left;
    margin: 0 10px 50px 0;
    width: 710px;
  }
    .wrap > .article > .section {
        position: relative;
        padding: 20px;
        margin: 0 0 20px 0;
        background-color: #fff;
    }
        .wrap > .article > .section > .info {
            position: absolute;
            left: -50px;
            width: 50px;
        }
            .wrap .info > .cate {
                padding: 10px;
                text-align: center;
                background-color: rgba(48, 86, 41, .5);
                color: #fff;
            }
            .wrap .info > .date {
                padding: 10px;
                text-align: center;
                background-color: rgba(48, 86, 41, .3);
                color: #fff;
            }
        .wrap > .article > .section > h3 {
            font-size: 16px;
            color: #306029; 
        }
        .wrap > .article > .section > h4 {
            line-height: 30px;
            font-size: 12px;
            color: #666; 
        }
        .wrap > .article > .section > p {
            line-height: 180%;
            text-indent: 2em;
            font-size: 12px;
        }
        .wrap > .article > .section > .article-info {
            margin-top: 20px;
            text-align: right;
            color: #666;
        }
    .wrap > .article > ul.page {
        text-align: center;
    }
        .wrap > .article > ul.page li {
            display: inline-block;
            line-height: 0.5em;
            padding: 1em;
            background-color: #fff;
        }
  .wrap > .aside {
    float: left;
    width: 260px;
  }
    .wrap > .aside > .search {
        width: 100%;
        margin: 0px 0 10px 0;
        padding: 20px;
        overflow: hidden;
        background-color: #fff;
    }
        .wrap > .aside > .search > .search-input {
            float: left;
            width: 75%;
            height: 30px;
            border: 1px solid #ddd;
        }
        .wrap > .aside > .search > .submit {
            display: inline-block;
            float: left;
            width: 25%;
            height: 30px;
            margin-right: -999px;
            line-height: 30px;
            border: 1px solid #ddd;
            color: #fff;
            font-size: 20px;
            background-color: #ddd;
            text-align: center;
        }
    .wrap > .aside > .category li > a {
        display: block;
        line-height: 40px;
        padding-left: 10px;
        border-left: 3px solid #eee;
        color: #aaa;
        font-size: 1.2em;
        background-color: #fff;

        transition: all .6s;
    }
    .wrap > .aside > .category li.active > a,
    .wrap > .aside > .category li > a:hover
     {
        border-left: 3px solid #306029;

        transition: all .6s;
    }

    .wrap > .aside .cal-content {
        margin-top: 10px;
        padding: 20px;
        background-color: #fff;
    }
        .wrap > .aside .cal-content span {
            display: inline-block;
            width: 30%;
            text-align: center;
            color: #306029;
        }

        .wrap > .aside .cal-content span:last-child {
            text-align: right;
        }
        .wrap > .aside .cal-content span:first-child {
            text-align: left;
        }

        .wrap > .aside .cal-content table {
            border-collapse:collapse;
        }
        .wrap > .aside .cal-content tr {
            border-bottom: 1px solid #ddd;
        }

        .wrap > .aside .cal-content table td {
            display: inline-block;
            float: left;
            width: 2.55em;
            line-height: 2.5em;
            color: #306029;
        }

    .wrap > .aside .tag {
        margin-top: 10px;
        padding: 10px;
        background-color: #fff;
        color: #306029;
    }
    .wrap > .aside .tag h3 {
        color: #aaa;
    }
    .wrap > .aside .tag span.active {
        line-height: 30px;
        font-size: 20px;
        color: #306029;
    }

    .about.container {
        overflow: hidden;
    }

    .about.container .wrapper {
        margin: 100px -50px 0 0;
    }

/*    .about.container .wrapper:after {
        content: ",";
        display: block;
        clear: both;
        visibility: none;
    }
*/
    .about.container .wrapper > div {
        width: 485px;
        min-height: 800px;
        float: left;
        background-color: #fff;
        margin-right: 10px;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
    }

    .about.container .wrapper > .left:after {
        content: "1";
        display: block;
        visibility: hidden;
    }
    .about.container .wrapper .right > div {
        margin-bottom: 8em;
    }
        .about.container img {
            display: block;
            width: 100px;
            height: 100px;
            /*position: absolute;
            left: -55px;*/
            margin-left: -55px;
            margin-top: -50px;
            border-radius: 50%;
            border: 10px solid #eee;
        }

        .about.container .logo {
            width: 150px;
            height: 150px;
            margin-left: -80px;
            margin-top: -75px;
        }

        .about.container .wrapper h3 {
            margin-left: -150px;
            padding: 1.5em;
        }

        .about.container .wrapper p {
            margin-top: -6em;
            padding: 1em 10em 1em 3em;
            text-indent: 2em;
            line-height: 1.5em;
        }
        .about.container .wrapper .contactme span {
            display: block;
        }
        .about.container .wrapper .education > div {
            margin: 0px 0 20px 0;
        }
        .about.container .wrapper .education span {
            display: inline-block;
            padding: 0 20px 0 20px;
        }
        .about.container .wrapper .time-tag {
            display: inline-block;
            width: 60px;
            height: 40px;
            line-height: 30px;
            margin-left: -35px;
            border: 5px solid #eee;
            border-radius: 25%;
            background-color: #fff;
            text-align: center;
            vertical-align: baseline;
        }

.wrap > .article > .menu li {
    display: inline;
    padding: 15px 20px 20px 20px;
    border-top: 2px solid #306029;
    background-color: #fff;
}

.wrap > .article > .gallery {
    width: 100%;
    padding: 20px 10px 20px 10px;
    background-color: #fff;
}

.wrap > .article > .gallery:after {
    content: ",";
    clear: both;
    display: block;
    visibility: hidden;
}

.wrap > .article > .gallery .col {
    width: 170px;
    float: left;
}

.wrap > .article > .gallery .col.large {
    width: 340px;
    float: left;
}


.wrap .gallery .item {
    float: left;
    margin-left: 10px;
    width: 160px;
}

.wrap .gallery .item:after {
    content: ",";
    display: block;
    clear: both;
    visibility: hidden;
}

.wrap .gallery .item.large {
    width: 330px;
}

.wrap .gallery .item > img {
    display: inline-block;
    float: left;
    width: 100%;
}

.wrap .gallery .item > .text {
    float: left;
    width: 100%;
    background-color: #306029;
    color: #fff;
}

.wrap .gallery .item > .text .left {
    width: 40px;
    height: 100%;
    float: left;
    padding-top: 10px;
    margin-left: -100%;
    text-align: center;
}

.wrap .gallery .item > .text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.wrap .gallery .item > .text .right {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 40px;
    float: left;
}