extends ./layout.jade

block style
    link(rel='stylesheet', href='./css/font-awesome.min.css')
    link(rel='stylesheet', href="./css/style.css")

block header
    header
        h2  To Do List

block content
    article
        block taskDetail
        block catergoryList
        block taskList
        

block scripts
    script(src='./js/mvc.js')
    script(src='./js/util.js')
    script(src="./js/app.js")